.recipe {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border-radius: 8px;
  height: 100%;

  // Make all equal height
  // display: flex;
  // flex-direction: column;
  // height: 100%;

  img {
    object-fit:cover;
    border-radius: 8px 8px 0 0;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 0px 30px 10px rgba(10, 10, 10, 0.05);
  }
}

.indicationBox {
  display: flex;
}

.indicator {
  margin: 0.1rem;
  border-radius: 100px;
  color: white;
  width: 25px;
  height: 25px;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out, border-radius 0.05s ease-in-out;

  &:hover {
    width: 100%;
    height: auto;
    padding: 2px;
    border-radius: 8px;
    text-align: left;
  }
}

.needs {
  font-style: bold;
}

.missList {
  font-size: 0.85rem;
}
