.recipe {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border-radius: 8px;

  img {
    border-radius: 8px 8px 0 0;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 0px 30px 10px rgba(10, 10, 10, 0.05);
  }
}

.indicator {
  border-radius: 100px;
  background-color: green;
  color: white;
  width: 25px;
  height: 25px;
  text-align: center;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out, border-radius 0.05s ease-in-out;

  &:hover {
    width: 80%;
    height: 200px;
    border-radius: 8px;
    text-align: left;
  }

  .open {
    background-color: red;
  }
}
