.nav {
  background-color: var(--dark);
  position: fixed;
  z-index: 39;
  width: 4rem;
  height: 100vh;
  transition: width 600ms ease;
  top: 0;
  left: 0;
  box-shadow: 5px 0px 5px #00000044;
  display:flex;
  flex-direction:column;
}
.upperNav,
.lowerNav {
  display:flex;
  flex-direction: column;
  flex-grow:1;
  flex-basis:100%;
}
.upperNav {
  justify-content: start;
}
.lowerNav {
  justify-content: end;
}