.box,
.active,
.brand {
  width:4rem;
  height:4rem;
  position: relative;
  display: flex;
  align-items: center;
  transition: ease padding 500ms;
}
.box svg,
.active svg,
.brand svg {
  width:100%;
  height:100%;
}
.box {
  padding: 0.8rem;
  background-color: var(--dark);
  fill: white;
}
.active {
  padding:0.8rem;
}
.brand {
  padding: 0.3rem;
  background-color: var(--primary);
  fill: white;
}
.box:hover,
.active:hover,
.brand:hover {
  cursor: pointer;
}
.box:hover,
.active:hover {
  fill: var(--primary);
  padding:0.7rem;
}
.active,
.brand:hover {
  background-color: var(--background);
  fill: var(--dark);
}
.brand:hover {
  padding:0.2rem;
}
.box:hover .tag,
.active:hover .tag {
  display: inline-block;
  opacity: 1;
  transform: scale(1) translateX(5rem);
}

.tag {
  opacity: 0;
  position: fixed;
  border: var(--dark) 1px solid;
  border-radius: 0.2rem;
  padding: 0.2rem;
  transform: scale(0);
  background-color: var(--dark);
  color: white;
}
.shadowblock {
  background-color:var(--background);
  height:4rem;
  width:4rem;
  position:fixed;
  left:10px;
  z-index:-100;
  box-shadow: 2px 0px 10px #00000044;
}