.register {
    color:var(--primary);
}
.register:hover {
    color:var(--primary-fade);
    cursor: pointer;
}

.alert {
    border-radius:1rem;
    display:none;
}

.show {
    display:block !important;
}