.filter {
  margin: 2rem 0 0 0;
}



.checked {
  fill : var(--primary);
  padding:2px;
  width:100%;
  height:100%;
}

.searchFormBox {
  position:relative;
}

.searchHover {
  background-color:var(--background);
  position:absolute;
  z-index:38;
  width:100%;
  border-radius : 0.2rem;
  top:2.5rem;
  display:none;
}
.show {
  display:block !important;
}

.tags {
  margin-bottom:0 !important;
}

.greyTag {
  border : 1px solid #000000aa;
  background-color:white !important;
}

.isIng {
  border-color : #0DBF37;
  cursor: pointer;
}

.isExp {
  border-color : var(--primary);
  cursor: pointer;
}

.dropBox {
  position:relative;
}