.pantryButton {
  width: 3rem;
  height: 3rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #7522ff;
  z-index: 39;
  border-radius: 100px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.4);
  }

  img {
    width: 2rem;
    height: 2rem;
    margin-top: 0.5rem;
  }
}

.pantry {
  overflow-y: scroll;

  width: 22rem;
  height: 75vh;
  background-color: white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  z-index: 39;
  position: fixed;
  right: 2rem;
  bottom: 7rem;
  padding: 10px;
}

.ingredientSection {

  h4 {
    font-weight: bold;
    margin: 10px 0;
  }
}

.queryBox {
  position:relative;
  width:100%;
  display:none;
  z-index:30;
}
.queryHover {
  background-color:var(--background);
  position:absolute;
  width:100%;
  border-radius : 0.2rem;
}

.querySearch:active .queryBox,
.querySearch:hover .queryBox {
  display:block;
}

.queryIngredient {
  padding:0.2rem;

  &:hover {
    cursor: pointer;
    background-color:white;
  }
}

.wideButton {
  width:100%;
}


.formCon {
  flex-wrap:wrap;
  justify-content: space-around !important;
}

.searchSection {
  padding:0.5rem 0 0.5rem 0;
}