.editButton {
    width:3rem;
    height: 3rem;
    position:fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    bottom:2rem;
    right:2rem;
    background-color:var(--primary);
    z-index:39;
    border-radius:3rem;
    box-shadow:0 4px 12px 0 rgba(0,0,0,0.5);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.4);
    }
}


.editor {
    width: calc(max(22rem, 40%));
    height:75vh;
    background-color:white;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 40;
    position: fixed;
    right: 2rem;
    bottom: 7rem;
    padding: 12px;
    transform:scale(0);
    opacity:0;
    transition: 300ms ease;
}

.editorShow {
    transform:scale(1);
    opacity:1;
}



.iconBox {
    width:2rem;
    height:2rem;
    fill:white !important;
}

.editBox {
    display:none;
    width:100%;
    padding-right:12px;
}

.showBox {
    display:block;
}

.onionLayer {
    overflow-y: scroll;
    width:100%;
    height:calc(100% - 4rem);
}

.wrap {
    white-space:pre-wrap;

}

.ingredient {
    font-size:1rem !important;
    height:auto !important;
    white-space:pre-line !important;
}



.querySearch:active .queryBox,
.querySearch:hover .queryBox {
  display:block;
}

.queryBox {
    position:relative;
    width:100%;
    display:none;
    z-index:33;
  }
  .queryHover {
    background-color:var(--background);
    position:absolute;
    width:100%;
    border-radius : 0.2rem;
  }
  