.recipe {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    border-radius:8px;
    position:relative;
    img {
        border-radius:8px 8px 0 0;

    }
    &:hover {
        cursor: pointer;
        transform: translateY(-3px);
        box-shadow: 0 0 30px 10px rgba(10,10,10,0.05);
        .editHolder {
            display:block;
        }
    }
}

.starHolder:hover, .editHolder:hover {
    transform:scale(1.2);
    .delete {
        display:flex;
    }
}


.star, .edit {
    fill:white;
}
.starHolder {
    background-color:var(--tertiary);
}
.editHolder {
    display:none;
    background-color:var(--primary);
}

.starHolder, .editHolder {
    transition:transform 0.2s ease-in-out;
    transform:scale(1);
    position:absolute;
    top:-1.25rem;
    right:-1.25rem;
    width:2.5rem;
    height:2.5rem;
    padding:0.5rem;
    border-radius:2.5rem;
}

.delete {
    transition:transform 0.2s ease-in-out;
    transform:scale(1);
    position:absolute;
    top:-0.25rem;
    right:-0.25rem;
    display:none;
    justify-content: center;
    align-items:center;
    background-color:black;
    color:white;
    font-size:2rem;
    border-radius:1rem;
    width:1rem;
    height:1rem;
}

.header {
    display:flex;
    cursor: pointer;
}

.drawer {
    overflow: hidden;
    max-height: auto;
    transition: max-height 300ms ease-out;
}

.arrow {
    margin-left:auto;
    height:1.5rem;
    width:1.5rem;
    display:inline-block;
    transition:ease transform 305ms;
    transform:rotate(0deg);
}

.arrowUp {
    transform:rotate(180deg) !important;
}
.buffer {
    width:100%;
    height:1.5rem;
}