.box {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
    flex-direction:row;
}

.box > div, .thing  {
    flex-basis:100%;
    flex-grow:1;
    display:flex;
    justify-content: center;
    padding:5rem;
    flex-wrap:wrap;
}

.thing > h1, .thing > p, .thing > ul {
    flex-basis:100%;
    flex-grow:1;
}

